.ans-buttons-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
  }

  .buttons-div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  