.player-card-top {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 0;
  }
  
  .player-card-bottom {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    bottom: 10px;
  }

  .player-card-text {
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
  }
  